.shop-category-1 {
  display: flex;
  margin-top: 10px;

  .product-item-1 {
    width: 200px;
    margin-top: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;

    .provider {
      font-size: 12px;
      font-weight: 500;
      color: #787878;
    }

    .product-name {
      font-weight: 600;
      line-height: 2;
      color: #1063a7;
    }

    .product-price {
      color: #ff0000;
      font-size: 20px;
      font-weight: 600;
    }

    .product-picture-large {
      text-align: center;

      img {
        height: 300px;
      }
    }

    .other-pictures {
      margin-top: 45px;
      line-height: 4;

      img {
        width: 51px;
        height: 51px;
        border: 1px solid #e5e5e5;
      }

      li {
        cursor: pointer;

        &:hover img {
          border-bottom: 3px solid #1063a7;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .special-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 375px;
    height: auto;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid var(--primary);
    border-radius: 10px;

    .text {
      position: absolute;
      width: 90px;
      font-size: 20px;
      font-weight: 100;
      color: #7c7c7c;
      left: 22px;
      top: 34px;
    }

    .save-percent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 25px;
      right: 22px;
      width: 70px;
      height: 70px;
      text-align: center;
      font-size: 14px;
      border-radius: 50%;
      background-color: var(--primary);
    }
  }

  .other-product {
    ul {
      position: relative;
      display: flex;
      justify-content: center;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background: #ccc;
      }
    }

    li {
      font-size: 20px;
      margin-right: 20px;
      color: #766b6b;
    }

    .cate-title-1 {
      position: relative;
      user-select: none;
      cursor: pointer;
      transition: ease-in .3s;

      &:hover {
        color: var(--primary);
      }
    }

    .cate-title-active-1 {
      color: var(--primary);
    }

    .cate-title-active-1::before {
      content: "";
      position: absolute;
      bottom: -5px;
      height: 3px;
      width: -webkit-fill-available;
      background-color: var(--primary);
      z-index: 100;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    .cate-title-active-1::after {
    content: "";
    background: var(--primary);
    height: 4px;
    width: 10px;
    position: absolute;
    display: block;
    left: 50%;
    bottom: -9px;
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    }
  }

  .product-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .name {
      color: #5488e3;
      font-weight: 700;
    }

    .price {
      color: red;
      font-size: 23px;
    }

    .old-price {
      color: #9f9f9f;
      font-size: 18px;
      text-decoration-line: line-through;
    }

    .sold-information {
      line-height: 2;

      .total {
        background-color: #b3b3b3;
        width: 300px;
        height: 20px;
        border-radius: 50px;
      }

      .sold {
        background-color: var(--primary);
        height: 20px;
        border-radius: 50px;
      }

      .quantity .number {
        display: flex;
        justify-content: space-between;
      }
    }

    .deal-countdown {
      span {
        padding: 15px;
        border-radius: 5px;
        font-weight: 700;
        line-height: 5;
        background: #ccc;
      }
    }
  }
}
