.nav-center {
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    height: 100px;
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;
    height: 40px;
    border: 1px solid #53a7ca;
    border-radius: 50px;

    .search-input {
      width: 447px;
      border: none;
      outline: none;
    }

    .search-btn {
      position: absolute;
      right: 0;
      height: 40px;
      width: 50px;
      color: #fff;
      background-color: #53a7ca;
      border: none;
      border-radius: 0 50px 50px 0;
      cursor: pointer;
      outline: none;
      transform: translate(1px, -10px);
    }
  }

  &__func {
    .func-icons {
      justify-content: flex-end;
    }

    .func-item {
      position: relative;
      margin-right: 10px;
    }

    .func-item:last-child {
      margin-right: 0;
    }

    .count-circle-abs {
      position: absolute;
      bottom: -5px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      background: var(--primary);
    }
  }
}